ok: [104.199.178.17] => {
    "msg": [
        [
            "\"#                          Congratulations!                            #\"", 
            "\"#                     Your Algo server is running.                     #\"", 
            "\"#    Config files and certificates are in the ./configs/ directory.    #\"", 
            "\"#              Go to https://whoer.net/ after connecting               #\"", 
            "\"#        and ensure that all your traffic passes through the VPN.      #\"", 
            "\"#               Local DNS resolver 172.16.0.1              #\"", 
            ""
        ], 
        "    \"#                The p12 and SSH keys password is 5c0ae291             #\"\n", 
        "    \"#                  The CA key password is f945e81af1340522dcc94d9e27d5e71e                 #\"\n", 
        "    \"#      Shell access: ssh -i configs/algo.pem ubuntu@104.199.178.17        #\"\n"
    ]
}
